*{
    margin:0;
    padding: 0;
    box-sizing:border-box
}


body{
  background-image: url(../img/background-home.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    font-family: sans-serif;
}

#logo{
  width: 80px;
  /* padding-right: 20px; */
  margin-right: 150px;
}

#main-section{
  background-color: #9acc77 ;
  padding: 25px;
  border-radius: 8px;
  opacity:0.5
}

#title{
 font-size: 60px;
 text-align: center;
}